.FAQ {
    padding: 3rem;
}
.FAQ .title {
    margin-bottom: 3.5rem;
}

.FAQ .accordion-container {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.FAQ .accordion-item {
    transition: max-height 0.4s ease-out;
    padding: 4rem 0 4rem 0rem;
    border: 1px solid #fff;
    border-bottom: none;
    border-left:none ;
    border-right: none;
}

.FAQ .accordion-item:last-child {
    border-bottom: 1px solid #fff;
}

.FAQ .accordion-header:before {
    content: '';
    display: inline-block;
    right: 0rem;
    top: 0rem;
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    background-image: url(../../images/+.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: rotate(180deg);
}

.FAQ .accordion-header p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 125%;
}

.FAQ .accordion-header {
    position: relative;
    display: flex;
    gap: 1.77rem;
}

.FAQ .active .accordion-header:before {
    background-image: url(../../images/-.svg);
}

.FAQ .active .accordion-content {
    max-height: 50rem;
}

.FAQ .accordion-content {
    overflow: hidden;
    padding: 0;
    max-height: 0;
}

.FAQ .accordion-content p {
    padding-top: 3rem;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    color: #fff;
    
    padding-right: 8rem;
}